/* filterComponents */
.panel {
    width: 300px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    max-height: 100vh;
    overflow-y: auto;
    display: none;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .filterButton {
    margin: 5px;
    padding: 8px 12px;
    background-color: #f0f0f0;
    color: black;
    border: 2px solid #ddd;
    cursor: pointer;
  }
  
  .filterButton.selected {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
  }
  
  .filterButton:hover {
    background-color: #e7e7e7;
  }
  
  .filterButton.selected:hover {
    background-color: #45a049;
  }
  
  .toggleButton {
    z-index: 3;
    margin: 5px;
    width: 150px;
    height: 40px;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .styledSearchInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  .styledSearchInput:focus {
    outline: none;
    border-color: #ccc;
  }

  .layoutContainer {
    display: flex;
    flex-direction: row;
  }
  
  .contentArea {
    margin-top: 20px;
  }

  .appContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: auto; 
  }
  
  .filterSidebar {
    flex-shrink: 0; 
    width: 20%;
    min-width: 200px; 
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .mainContent {
    flex-grow: 1;
    flex-shrink: 1; 
    padding-right: 40px;
    padding-left: 40px;
  }
  
  

.inputBase-input {
  height: auto;
  font-size: 0.875rem;
  padding: 10px 14px;
}

.select-select:focus {
  background-color:#000000;
}


.customSelectPaper .MuiPaper-root {
  background-color: '#E0E0E0';
  max-height: 300px;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white; /* default state */
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #E0E0E0; /* hover state */
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white; /* focused state */
}


/* charts discover genres */

.main-container {
  display: flex; 
  background-color: #333333; 
  padding: 100px; 
  gap: 20px;
  padding-top: 50px;
}

.chart-container {
  flex: 3; 
  background-color:'#E0E0E0'; 
  padding-left: 50px;

}

.menu-container {
  background-color:'#E0E0E0'; 
   
}

.menu-and-leaderboard-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-left: 100px;
  padding-top: 100px;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333333; 
  border-radius: 8px;
  padding: 20px;
  gap: 10px;
}

.leaderboard-entry {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border: 0px solid; 
  border-radius: 8px; 
}

.leaderboard-entry.first {
  background-color: gold;
}

.leaderboard-entry.second {
  background-color: silver;
}

.leaderboard-entry.third {
  background-color: #cd7f32;
}

.leaderboard-rank {
  font-weight: bold;
  margin-right: 10px;
}

.leaderboard-name {
  flex-grow: 1; 
}

.white-text {
  color: white;
  padding-left: 300px;
}

.main-pie-container {
  display: flex; 
  background-color: #333333; 
  gap: 100px;
  padding-top: 0px;
  gap: 0.5px;
}

.pie-container {
  background-color:'#E0E0E0'; 
  padding-left: 150px;
  width: 900px;
  height: 900px;

}

.pie-menu-container {
  background-color:'#E0E0E0'; 
  padding-left: 300px;
  padding-right: 20px;
  padding-top: 300px;
   
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.histogram, .dropdown-menu, .pie-chart {
  flex-grow: 1; 
}

.dropdown-menu {
  flex-basis: 15%;
  background-color:'#E0E0E0'; 
}

.histogram {
  flex-basis: 40%; 
  background-color:'#E0E0E0';
}

.pie-chart {
  flex-basis: 45%; 
  background-color:'#E0E0E0';
}

.horizontal-layout {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  gap: 20px; 
  background-color: #333333;
}

/* movie details component */

.detail-container {
  display: flex;
  flex-direction: column; /* Display as column */
  align-items: center; /* Center items horizontally */
  padding: 20px;
}

.sections-container{
  background-color: #f2f2f2;
  display: flex;
  align-items: center; /* Center its children vertically */
  width: 100%; /* Take up the entire width */
  padding: 20px;
}

.left-section{
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.right-section{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.detail-header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.detail-poster-container{
  background-color: #333333;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 20px;
  width: 100%; /* Take up the entire horizontal space */
}

.detail-poster{
  max-width: 100%;
}

.detail-content{
  width:100%;
  background-color: #ffffff;
  padding: 20px;
  height: 800px;
}

.horizontal-list{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 10px 0; /* Add some padding */
  gap: 20px; /* Add some space between items */
}

.detail-text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.detail-toggle-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.detail-toggle{
  padding: 0 100px;
  display: flex;
  width: 100%; /* Take up the entire horizontal space */
  background-color: #ffffff;
}

.personality-container {
  display: flex;
  align-items: center; 
  background-color: #333333;
  padding-top: 50px;
  gap: 20px;
  padding-bottom: 20;
}
.personality-menu-container {
  flex: 1;
  display: flex;
  justify-content: center; 
}
.personality-histogram-container {
  flex: 2; 
  display: flex;
  justify-content: center;
}

/* requirement4 leaderboard */

.highly-rated-genres-leaderboard .leaderboard-entry {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.highly-rated-genres-leaderboard .leaderboard-entry.top-1 {
  color: gold;
}

.highly-rated-genres-leaderboard .leaderboard-entry.top-2 {
  color: silver;
}

.highly-rated-genres-leaderboard .leaderboard-entry.top-3 {
  color: #cd7f32; /* Bronze */
}

.highly-rated-genres-leaderboard .leaderboard-entry.other {
  color: grey;
}

.leaderboard-rank {
  font-weight: bold;
  margin-right: 10px;
}

.h4 {
  margin-left: 30px;
  color: #E0E0E0;
}

.h5 {
  margin-right: 35px;
  color: #E0E0E0;
}

.horizontal-container-4 {
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  gap: 10px;
  background-color: #333333;
  padding-left: 250px;
  padding-right: 250px;
}


