/* filterComponents */
.panel {
    width: 300px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    max-height: 100vh;
    overflow-y: auto;
    display: none;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .filterButton {
    margin: 5px;
    padding: 8px 12px;
    background-color: #f0f0f0;
    color: black;
    border: 2px solid #ddd;
    cursor: pointer;
  }
  
  .filterButton.selected {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
  }
  
  .filterButton:hover {
    background-color: #e7e7e7;
  }
  
  .filterButton.selected:hover {
    background-color: #45a049;
  }
  
  .toggleButton {
    z-index: 3;
    margin: 5px;
    width: 150px;
    height: 40px;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .styledSearchInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  .styledSearchInput:focus {
    outline: none;
    border-color: #ccc;
  }

  .layoutContainer {
    display: flex;
    flex-direction: row;
  }
  
  .contentArea {
    margin-top: 20px;
  }

  .appContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: auto; 
  }
  
  .filterSidebar {
    flex-shrink: 0; 
    width: 20%;
    min-width: 200px; 
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .mainContent {
    flex-grow: 1;
    flex-shrink: 1; 
    padding-right: 40px;
    padding-left: 40px;
  }
  
  

.inputBase-input {
  height: auto;
  font-size: 0.875rem;
  padding: 10px 14px;
}

.select-select:focus {
  background-color:#000000;
}


.customSelectPaper .MuiPaper-root {
  background-color: '#E0E0E0';
  max-height: 300px;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white; /* default state */
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #E0E0E0; /* hover state */
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white; /* focused state */
}


/* charts discover genres */

.chart-container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.chart-area {
  flex: 1;
  max-width: 90%;
  padding-left: 100px; 
}

.dropdown-area {
  flex: 1;
  max-width: 40%; 
  padding-left: 200px;
}

.main-container {
  display: flex; 
  background-color: #333333; 
  padding: 100px; 
  gap: 20px;
  padding-top: 50px;
}

.chart-container {
  flex: 3; 
  background-color:'#E0E0E0'; 
  padding-left: 50px;

}

.menu-container {
  background-color:'#E0E0E0'; 
   
}

.menu-and-leaderboard-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-left: 100px;
  padding-top: 150px;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333333; 
  border-radius: 8px;
  padding: 20px;
  gap: 10px;
}

.leaderboard-entry {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border: 0px solid; 
  border-radius: 8px; 
}

.leaderboard-entry.first {
  background-color: gold;
}

.leaderboard-entry.second {
  background-color: silver;
}

.leaderboard-entry.third {
  background-color: #cd7f32;
}

.leaderboard-rank {
  font-weight: bold;
  margin-right: 10px;
}

.leaderboard-name {
  flex-grow: 1; 
}

